@{
    Layout = "~/Views/Shared/QuanLyLayout.cshtml";
}

<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Chi tiết truyện
        </h1>
        <form action="~/QuanLy/UpdateComic" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="@ViewBag.list[0][0]" />
            <table>
                <tr>
                    <td>Tên truyện: <input type="text" name="tentruyen" value="@ViewBag.list[0][1]" /></td>
                </tr>
                <tr>
                    <td>Mô tả:</td>
                </tr>
                <tr>
                    <td>
                        <textarea name="mota" rows="6" cols="100" style="resize: none">@ViewBag.list[0][2]</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        Hình minh họa:
                        <img src="~/img/@ViewBag.list[0][3]" alt="Hình minh họa" style="max-width: 100px; max-height: 100px; margin-right: 10px;">
                        <input type="file" name="hinhminhhoa" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Tác giả:
                        <select name="matg">
                            @foreach (var a in ViewBag.TacGia)
                            {
                                if (a[0] == ViewBag.list[0][8])
                                {
                                    <option value="@a[0]" selected>@a[1]</option>
                                }
                                else
                                {
                                    <option value="@a[0]">@a[1]</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Danh sách chương: <a href="~/QuanLy/AddChapterPage?id=@ViewBag.addchapter[0][0]" class="btn btn-primary">Thêm chương</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        @if (ViewBag.listChuong.Count > 0)
                        {
                            <ul>
                                @foreach (var c in ViewBag.listChuong)
                                {
                                    <li>
                                        <a href="~/QuanLy/QuanLyChuongTruyenChiTiet?id=@c[0]">@c[1]</a>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>Không có chương</p>
                        }
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Sửa truyện" /></td>
                </tr>
            </table>
        </form>
    </section>
    <!--</section>--><!-- /.content -->
</div><!-- /.content-wrapper -->
